        body {
          background: #f8f9fa;
        }

        /* contenedor principal */

        .tabla-box {
          background: white;
          padding: 20px;
          border-radius: 12px;
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
        }

        /* scroll tabla */

        .scrollable-box {
          max-height: 450px;
          overflow-y: auto;
        }

        /* tabla */

        .table {
          background: white;
          border-radius: 10px;
          overflow: hidden;
        }

        /* badge estado */

        .estado-pendiente {
          background: #fff3cd;
          color: #664d03;
        }